*.zip
business_data_science/*.jpg
*.pdf
*.csv
*.mp3
*.xlsx
NLP/tensorflow-ml-nlp-tf2/
.idea/
crawling/selenium/Lib/
crawling/selenium/Scripts/
#*.png
./picture/
#*.jpg
*.pkl
*.bkp
*.dtmp
*.pptx
*.hwp
*.drawio
/picture/300px-현대_증기터빈_발전기.png
/data2/
/runs/
/data/
/data/train_images/
/data/train_labels/
/data/valid_images/
/data/coordinates.txt
/data2/
/data2/train/
/data2/valid/
/data2/valid/images/
/data2/valid/labels/
/pretrain_data/
/pretrain_data2/
*.drawio
